
#min{
  -fx-background-image: url("ruanjianyuan.JPG");
  /*-fx-background-repeat: no-repeat;
  -fx-background-size: cover;*/
  -fx-opacity: 0.5;
}
.button {
 -fx-background-color: red;
 -fx-text-fill: white;
}



